/* ********************************
 * 
 * VARIABLES 
 * 
 * ********************************/

$footer_color: #D0D0D0;




/* ********************************
 * 
 * ELEMENTS 
 * 
 * ********************************/

html, body {
    height: 100%;
}

footer {
    background: #252525;
    color: $footer_color;
    height: 120px;
    padding: 60px 0;
    
    a {
        color: $footer_color;
        
        &:hover {
            color: #FFF;
        }
    }
}




/* ********************************
 * 
 * CLASSES 
 * 
 * ********************************/

.logo {
    margin-left: 100px;
}

.no-margin {
    margin: 0;
}